<nav style="background-color: #333; padding: 10px;">
  <ul style="display: flex; list-style: none; margin: 0; padding: 0;">
    <li style="margin-right: 20px;"><a href="/" style="color: white; text-decoration: none;">Home</a></li>
    <li style="margin-right: 20px;"><a href="../user/Login" style="color: white; text-decoration: none;">Login</a></li>
    <li style="margin-right: 20px;"><a href="/category/men" style="color: white; text-decoration: none;">Men</a></li>
    <li style="margin-right: 20px;"><a href="/category/women" style="color: white; text-decoration: none;">Women</a></li>
    <li><a href="/category/kids" style="color: white; text-decoration: none;">Kids</a></li>
  </ul>
</nav>
