<h2>All Users</h2>

<% users.forEach(user => { %>
  <div style="margin-bottom: 20px;">
   

    <% if (user.image) { %>
      <img src="/uploads/<%= user.image %>" width="100" alt="User Image">
    <% } else { %>
      <p>No image uploaded</p>
    <% } %>
     <p><strong>Email:</strong> <%= user.email %></p>
  </div>
<% }); %>
